<%= render "header" %>

<h3>Edit by category</h3>

<%= select("category", "filename", @files.collect { |file| [file[:name], file[:id]] }, include_blank: "Select a category") %>

<h3>Edit by key</h3>

<input type="text" placeholder="Start typing key..." />