<h2><%= "tTODO Custom texts" %></h2>

<h3>Edit by category</h3>

<%= select("category", "filename", @files.collect {|f| [ f[:name], f[:id] ] }, include_blank: "Select a category") %>

<script>
$( document ).ready(function() {
    $('select').on('change', function () {
        window.location.href = "/admin/site_customization/texts/" + this.value + "/edit";
    });
});
</script>